{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
          <!-- col-sm-12  col-lg-8 -->
            <div class="col-sm-5" align="center">
              <!-- markdown equivalent (without bootstrap): ![](/images/example.jpg) -->
              <!-- the class and alt are utilizing Bootstrap -->
              <!-- /images/web-tree-street-bushwick-eco-initiatives.png" -->
              <img src="/images/wide-street-large-text.png" class="img-fluid" alt="Responsive image">
              <p>
                A community organization in Bushwick, Brooklyn that works on projects that
                reduce greenhouse gases.
                </p>
            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}
